@import "semancer";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    padding-top: 1rem;
}

main {
    @include container();
}

table {
    width: 100%;

    th {
        font-weight: bold;
    }

    th, td {
        padding: 0.5rem;
    }

    // Separate color every row
    tr:nth-child(even) { background-color: rgb(220, 220, 220); }
}

h1, h2, p, form, table {
    margin-bottom: 0.5rem;
}

h1, h2 {
    line-height: 1.1;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}
