<html>
    <head>
        <meta charset="utf-8" />
        <title>ImpNao</title>
        <link rel="stylesheet" type="text/css" href="{{res "/public/style/style.css"}}" />
    </head>
    <body>
        <main>
            {{{content}}}
        </main>
    </body>
</html>
