<form action="{{res "/"}}" method="post">
    <h1>Add Map</h1>
    <input name="name" type="text" autocomplete="off" placeholder="cp_mymap_a1" />
    <input name="link" type="text" autocomplete="off" placeholder="http://example.com/download/cp_mymap_a1.bsp" />
    <button type="submit">Add</button>
</form>

<article>
    <h1>Maps</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Link</th>
        </tr>
        {{#each maps}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.link}}</td>
            </tr>
        {{/each}}
    </table>
</article>
