<h1>ImpNao Map Tracker</h1>

<form action="{{res "/add"}}" method="post">
    <h2>Add</h2>
    <input name="name" type="text" autocomplete="off" placeholder="cp_mymap_a1" />
    <input name="link" type="text" autocomplete="off" placeholder="http://example.com/download/cp_mymap_a1.bsp" />
    <input name="password" type="text" autocomplete="off" placeholder="remove password" />
    <button type="submit">Add</button>
</form>

<article>
    <h2>Maps</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Link</th>
        </tr>
        {{#each maps}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.link}}</td>
            </tr>
        {{/each}}
    </table>
</article>

<form action="{{res "/remove"}}" method="post">
    <h2>Remove</h2>
    <input name="name" type="text" autocomplete="off" placeholder="cp_mymap_a1" />
    <input name="password" type="text" autocomplete="off" placeholder="remove password" />
    <button type="submit">Remove</button>
</form>
